@media screen and (max-width:540px) {
    .hero_bottom_box img{
        width: 14px;
        height: 14px;
    }
    
    .hero_bottom_box_text{
        font-size: 4px;
    }
    .Blog_container_divided_box{
        flex-direction: column;
    }
    .Blog_container_divided{
        flex-direction: column;
        /* background: black;   */
    }
    .explore_box_item_heading{
        color: #101828;
        font-family: Inter;
        font-weight: 600;
        line-height: 32px;
        word-wrap: break-word;
        font-size: 18px;
    }
    .explore_box_item_paragraph{
        color: #667085;
        font-family: Inter;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;
        font-size: 14px;
    }
    .explore_bottom_tutor_price{
        font-size: 16px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
        color: #7F56D9;
    }
    .explore_bottom_tutor_name{
        color: #101828;
        font-family: Inter;
        font-weight: 500;
        line-height: 20px;
        word-wrap: break-word;
        font-size: 12px;
    }
    
.explore_bottom_tutor_enroll{
    color: #667085;
    font-size: 10px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
}
    .Partners{
        grid-template-columns: repeat(4, 1fr);
        
    }
    .Partners h3{
        display: none;
    }
    .Tutors_boxes_container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .Reviews_Center{
        gap: 18rem;
    }
    .footer_top_sections{
        margin-top: 4rem;
        align-self: flex-start;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 3rem;
    }
    .footer_bottom_text{

        color: #98A2B3;
        font-size: 8px;
        font-family: Inter;
        line-height: 20px;
        word-wrap: break-word;
        font-weight: 400;
    }
    .footer_bottom_socials img{
        width:13px;
        height:13px;
    }
    .Footer{
        margin-top: 15rem;
    }
}
